/*
  Created on : Jan 14, 2019, 1:51:55 PM
  Author     : D Chapman

  color scheme:
  #000000 -- black
  #3a6b96 -- blue
  #808080 -- Grey
  #fbbc3c -- yellow
  #d88960 -- rust
  #ffffff -- white
  #64704C -- green
*/




body {
    background-color: #000;
    font-family: 'Roboto Slab', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Stardos Stencil', cursive;
    font-family: 'Raleway Dots', cursive;
    color: #f0ecec;
}

.heading-container {
    background-image: url("../img/apod.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
}


.navigation {
    font-family: 'Lato';
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 1em;
    font-style: thin;
    padding-right: 1em;
    padding-left: .25em;
}

header {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    /*filter: alpha(opacity=60);*/
}

a {
    color: #f74914;
    text-decoration: none;
}

a:hover {
    color: #f0a612;
    text-decoration: underline;
}

a:visited {
    color: #ecc74c;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.navigation li {
    padding-right: 1em;
}

h1 {
    color: #f0ecec;
    font-family: 'Roboto Slab';
    font-stretch: extra-expanded;
    font-size: 4em;
    font-style: bold;
}

h2 {
    color: #6486a3;
    font-size: 2.5em;
    font-family: 'Raleway Dots';
}

h3 {
    color: #e25954;
    font-size: 1.5em;
    font-family: 'Raleway;

}

h4 {
    color: #6486a3;
    font-size: 1.10em;
    font-family: 'Raleway'
}

p {
    color: #f0ecec;
    font-family: 'Lato';
    font-size: 1em;
}

li {
    font-family: 'Lato';
}

#listTag {
    font-weight: bold;
    font-family: 'Lato';
}

.ul-none {
    list-style: none;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}

.flex-item {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    justify-items: center;
}


.flex-row {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}


img {
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: auto;

}

iframe {
    width: 640px;
    height: 385px;
    border: #808080 solid 1em;
}

.slider {
    width: 500px;
    height: 500px;
    overflow: y;
}