/* color scheme:
#000000 -- black
#3a6b96 -- blue
#808080 -- Grey
#fbbc3c -- yellow
#d88960 -- rust
#ffffff -- white
##fdf4e0 -- Cream
#64704C -- green */

.row1-canvas {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;

}

.row2-canvas {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

#canvas1 {
    width: 90%;
    height: 60%;
    margin-top: 2em;
    border: solid .5em #64704C;
    background-color: #fdf4e0;


}