@charset "utf-8";

/*box transition*/
.row-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.box1 {
   height: 60px;
   width: 300px;
   display: flex;
   justify-content: center;
   align-content: center;
   background-color: rgb(51, 58, 153);
}

.box1 p {
   text-align: center;
   color: beige;
   font-size: 1.25em;
}

.box1:hover {
   height: 60px;
   width: 300px;
   background-color: skyblue;

}

.box2 {
   height: 60px;
   width: 300px;
   display: flex;
   justify-content: center;
   align-content: center;
   background-color: rgb(51, 58, 153);
   transition: all 1s ease-in-out;
   -webkit-transition: all 1s ease-in-out;

}

.box2 p {
   text-align: center;
   color: beige;
   font-size: 1.25em;
}

.box2:hover {
   height: 60px;
   width: 300px;
   background-color: skyblue;
   border-radius: 25px;
   transform: scale(1.3);
}

#carButtons {
   display: flex;
   flex-direction: row;
}

/*circle transitions*/
#car-start img {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

#car-start:hover img {
   margin-left: 80%;
}

#car1 {
   margin-left: 0%;
   transition: all 5s linear;
   -moz-transition: all 5s linear;
   -ms-transition: all 5s linear;
   -o-transition: all 5s linear;

}

#car2 {
   transition: all 5s ease;
   -webkit-transition: all 5s ease;
   -moz-transition: all 5s ease;
   -ms-transition: all 5s ease;
   -o-transition: all 5s ease;

}

#car3 {
   transition: all 5s ease-in;
   -webkit-transition: all 5s ease-in;
   -moz-transition: all 5s ease-in;
   -ms-transition: all 5s ease-in;
   -o-transition: all 5s ease-in;

}

#car4 {
   transition: all 5s ease-out;
   -webkit-transition: all 5s ease-out;
   -moz-transition: all 5s ease-out;
   -ms-transition: all 5s ease-out;
   -o-transition: all 5s ease-out;

}

#car5 {
   transition: all 5s ease-in-out;
   -webkit-transition: all 5s ease-in-out;
   -moz-transition: all 5s ease-in-out;
   -ms-transition: all 5s ease-in-out;
   -o-transition: all 5s ease-in-out;

}

.football {
   height: 75px;
   margin-left: 50px;
   object-position: left;
   transition: all 5s linear;
   -webkit-transition: all 5s linear;
   -ms-transition: all 5s linear;
   -moz-transition: all 5s linear;
   -o-transition: all 5s linear;

}

.football:hover {
   -webkit-transform: rotate(720deg);
   -moz-transform: rotate(720deg);
   -ms-transform: rotate(720deg);
   -o-transform: rotate(720deg);
   transform: rotate(720deg);
}

/*animation*/
.football-container {
   display: flex;
   flex-direction: row wrap;
   justify-content: flex-start;
   margin-top: 50px;
   height: 200px;
   width: 100%;
}

h3#score {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 0;
}


.col1 {
   flex-grow: 2;
   align-content: flex-start;
   align-items: baseline;
}

.col2 {
   align-content: flex-end;
}


img.football2 {
   align-items: baseline;
   height: 50px;
   margin-top: 75px;
}

/*--animation--*/
#football2 {
   animation: rotate 3s ease-in;
   -webkit-animation: rotate 3s ease-in;
}

#lift {
   animation: lift 3s ease-in;
   -webkit-animation: lift 3s ease-in;
}

#kick {
   animation: kick 3s ease-in;
   -webkit-animation: kick 3s ease-in;
}

@keyframes kick {
   100% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
   }
}

@keyframes lift {
   0% {
      transform: translateY(0px);
      -webkit-transform: translateY(0);
   }

   100% {
      transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
   }
}

@keyframes rotate {
   100% {
      transform: rotate(1440deg);
      -webkit-transform: rotate(1440deg);
   }
}

/*Rocket*/

.rocket-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}


#background {
   position: absolute;
   margin: 0;
   border-width: 100%;
}

#rocket1 {
   margin-top: 200px;
   animation: rocket1 3s ease .5s infinite;
   /* animation-duration: 3s;
   animation-delay: .5s;
   animation-timing-function: ease;
   animation-iteration-count: infinite; */
}

@keyframes rocket1 {
   0% {
      transform: translateY(0px);
      transform: rotate(-3deg);
   }

   10% {
      transform: rotate(0);
   }

   20% {
      transform: rotate(3deg);
   }

   40% {
      transform: rotate(0);
   }

   60% {
      transform: translateY(10px);
   }

   100% {
      transform: translateY(-200px);
   }
}

#rocket2 {
   margin-top: 200px;
   animation: rocket2;
   animation-duration: 3s;
   animation-delay: .5s;
   animation-timing-function: ease;
   animation-iteration-count: infinite;
}


@keyframes rocket2 {
   0% {
      transform: translateY(0px);
      transform: skew(-5px);
   }

   10% {
      transform: skew(0);
   }

   20% {
      transform: translateY(-10px);
   }

   40% {
      transform: translateY(0);
   }


   100% {
      transform: translateY(-200px);
   }
}

#rocket3 {
   margin-top: 200px;
   animation: rocket3;
   animation-duration: 3s;
   animation-delay: .5s;
   animation-timing-function: ease;
   animation-iteration-count: infinite;
}


@keyframes rocket3 {
   0% {
      transform: translateY(0px);
      transform: rotate(-4deg);
   }

   10% {
      transform: rotate(0);
   }

   20% {
      transform: rotate(4deg);
   }

   40% {
      transform: rotate(0);
      transform: translateX(-3px);
   }

   50% {
      transform: translateX(0px);
   }


   100% {
      transform: translateY(-180px);
   }
}

#rocket4 {
   margin-top: 200px;
   animation: rocket4;
   animation-duration: 3s;
   animation-delay: .5s;
   animation-timing-function: ease;
   animation-iteration-count: infinite;
}


@keyframes rocket4 {
   0% {
      transform: translateY(0px);
      transform: rotate(4deg);
   }

   10% {
      transform: translateY(-10px);
      transform: rotate(0);
   }

   20% {
      transform: translateY(0px);
      transform: rotate(-4deg);
   }

   40% {
      transform: rotate(0);
   }

   100% {
      transform: translateY(-200px);
   }
}