@charset "utf-8";

/*box transition*/
.row-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.rocket-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;

}

#rocket1 {
   margin-top: 8em;
   transition: all 2s linear;
}

#rocket2 {
   margin-top: 8em;
   transition: all 2s ease;
}

#rocket3 {
   margin-top: 8em;
   transition: all 2s ease-in;
}


#rocket4 {
   margin-top: 8em;
   transition: all 2s ease-in-out;
}


.box1 {
   height: 60px;
   width: 300px;
   display: flex;
   justify-content: center;
   align-content: center;
   background-color: rgb(51, 58, 153);
}

.box1 p {
   text-align: center;
   color: beige;
   font-size: 1.25em;
}

.box1:hover {
   height: 60px;
   width: 300px;
   background-color: skyblue;

}

.box2 {
   height: 60px;
   width: 300px;
   display: flex;
   justify-content: center;
   align-content: center;
   background-color: rgb(51, 58, 153);
   transition: all 1s ease-in-out;
   -webkit-transition: all 1s ease-in-out;

}

.box2 p {
   text-align: center;
   color: beige;
   font-size: 1.25em;
}

.box2:hover {
   height: 60px;
   width: 300px;
   background-color: skyblue;
}

#carButtons {
   display: flex;
   flex-direction: row;
}

/*circle transitions*/
#car-start img {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 0%;
}

#car-start:hover img {
   margin-left: 80%;
}

#car1 {
   background-color: turquoise;
   transition: all 10s linear;
   -moz-transition: all 10s linear;
   -ms-transition: all 10s linear;
   -o-transition: all 10s linear;

}

#car2 {
   background-color: salmon;
   transition: all 10s ease;
   -webkit-transition: all 10s ease;
   -moz-transition: all 10s ease;
   -ms-transition: all 10s ease;
   -o-transition: all 10s ease;

}

#car3 {
   background-color: lightskyblue;
   transition: all 10s ease-in;
   -webkit-transition: all 10s ease-in;
   -moz-transition: all 10s ease-in;
   -ms-transition: all 10s ease-in;
   -o-transition: all 10s ease-in;

}

#car4 {
   background-color: khaki;
   transition: all 10s ease-out;
   -webkit-transition: all 10s ease-out;
   -moz-transition: all 10s ease-out;
   -ms-transition: all 10s ease-out;
   -o-transition: all 10s ease-out;

}

#car5 {
   background-color: mediumturquoise;
   transition: all 10s ease-in-out;
   -webkit-transition: all 10s ease-in-out;
   -moz-transition: all 10s ease-in-out;
   -ms-transition: all 10s ease-in-out;
   -o-transition: all 10s ease-in-out;

}

.football {
   height: 75px;
   margin-left: 50px;
   object-position: left;
   transition: all 5s linear;
   -webkit-transition: all 5s linear;
   -ms-transition: all 5s linear;
   -moz-transition: all 5s linear;
   -o-transition: all 5s linear;

}

.football:hover {

   -webkit-transform: rotate(720deg);
   -moz-transform: rotate(720deg);
   -ms-transform: rotate(720deg);
   -o-transform: rotate(720deg);
   transform: rotate(720deg);
}

/*animation*/
.row1 {
   display: flex;
   flex-direction: row wrap;
   justify-content: flex-start;
   flex-grow: 1;
   height: 6em;
   width: 100%;
}

h3#score {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.col1 {
   flex-grow: 2;
   align-content: flex-start;
   align-items: baseline;
}

.col2 {
   align-content: flex-end;
}

.col3 {
   flex-grow: 3;
   align-content: center;
}


img.football2 {
   align-items: baseline;
   height: 50px;
}

/*--animation--*/
#football2 {

   animation: rotate 3s ease-in;
   -webkit-animation: rotate 3s ease-in;

}

#lift {
   animation: lift 3s ease-in;
   -webkit-animation: lift 3s ease-in;
}

#kick {
   animation: kick 3s ease-in;
   -webkit-animation: kick 3s ease-in;
}

@keyframes kick {
   100% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
   }
}

@keyframes lift {
   0% {
      transform: translateY(0px);
      -webkit-transform: translateY(0);
   }

   100% {
      transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
   }
}

@keyframes rotate {
   100% {
      transform: rotate(1440deg);
      -webkit-transform: rotate(1440deg);
   }
}