/*
  Created on : Jan 14, 2019, 1:51:55 PM
  Author     : D Chapman

  color scheme:
  #000000 -- black
  #3a6b96 -- blue
  #808080 -- Grey
  #fbbc3c -- yellow
  #d88960 -- rust
  #ffffff -- white
  #64704C -- green
*/

@font-face {
    font-family: 'Lato';
    src: url("fonts/Lato-Regular.ttf");
    font-face: 'Lato-Light';
    src: url("fonts/Lato-Light.ttf");
    font-family: 'Raleway';
    src: url("fonts/Raleway-ExtraBold.ttf");
    font-family: 'Raleway Dots';
    src: url("fonts/RalewayDots-Regular.ttf");

}

body {
    background-color: #000;
    color: #f0ecec;
    margin: 0 2em;
}

.heading-container {
    background-image: url("../img/apod.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    margin: 0;
}


.navigation {
    font-family: 'Lato-Light';
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 1em;
    font-style: thin;
    padding-right: 1em;
    padding-left: .25em;
}

header {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    /*filter: alpha(opacity=60);*/
}

a {
    color: #f74914;
    text-decoration: none;
}

a:hover {
    color: #f0a612;
    text-decoration: underline;
}

a:visited {
    color: #ecc74c;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.navigation li {
    padding-right: 1em;
}

h1 {
    color: #f0ecec;
    font-family: 'Raleway';
    font-size: 4em;
    font-style: bold;
}

h2 {
    color: #6486a3;
    font-size: 2.5em;
    font-family: 'Raleway Dots';
}

h3 {
    color: #e25954;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Lato;

}

h4 {
    color: #6486a3;
    font-size: 1.10em;
    font-family: 'Lato'
}

p {
    color: #f0ecec;
    font-family: 'Lato';
    font-size: 1em;
}

li {
    font-family: 'Lato-Light';
}

.ul-none {
    list-style: none;
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}

.flex-item {
    justify-items: center;
}


.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;

    padding: 0 4px;
    margin: 0 1em;
}

.flex-figure {
    justify-content: space-between;
    max-width: 500px;
    max-height: auto;
    margin-right: 0;
    padding: 0 4px;
    cursor: pointer;
}

.flex-figure img {
    vertical-align: center;
}

figcaption {
    justify-items: center;
}

img {
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: auto;
}

.apod-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 4em;
}

.apod-img {
    align-items: center;
    width: 100%;
    height: auto;

}

iframe {
    width: 640px;
    height: 385px;
    border: #808080 solid 1em;
}


.dateSelect {
    margin: 0;
    padding: .5em;
    color: #f0ecec;
    font-family: 'Lato';
    font-size: 1em;
    background-color: #6486a3;
    size: 3em;
}

table {
    width: 100%;
}

table td {
    padding-right: 1em;
    padding-top: 1.5em;
    font-family: 'Lato-Light';
    text-align: left;
    vertical-align: top;

}

td img {
    width: 400px;
    height: auto;
}

td#title {
    width: 10%;
}

#gallery {
    width: 500px;
    margin: 0 auto;
}

.grid {
    display: flex;
    flex-direction: row wrap;
}

ul {
    margin: 0 auto;
    padding: 0;
}

ul li {
    list-style: none;
    /*display: inline-block;*/
    cursor: pointer;
}

ul li img {
    width: 300px;
    border: 1px solid #6486a3;
}

#waiting {
    visibility: hidden;
}