/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/*
  Created on : Jan 14, 2019, 1:51:55 PM
  Author     : D Chapman

  color scheme:
  #000000 -- black
  #3a6b96 -- blue
  #808080 -- Grey
  #f0a103 -- gold
  #d88960 -- rust
  #ffffff -- white
  #64704C -- green
*/

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-Regular.ttf");
    font-family: 'Army';
    src: url("/fonts/Army_Wide.ttf");
}

html {
    width: 100%;
    background-image: url("../img/camo_wallpaper.jpg");
}

body {
    background-color: rgb(255, 255, 255);
    margin: 2em;
    padding-left: 2.5em;
    padding-top: 1.5em;
    padding-right: 2.5em;
    padding-bottom: 3em;
}



.navigation {
    font-family: 'Lato';
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 1em;
    padding-right: 1em;
    padding-left: .25em;
}

header {
    margin: 0;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0em;
    filter: alpha(opacity=60);
}

a {
    color: #d88960;
    text-decoration: none;
}

a:hover {
    color: #f0a103;
    text-decoration: underline;
}

a:visited {
    color: #808080;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.navigation li {
    padding-right: 1em;
}

h1 {
    color: #64704C;
    font-family: 'Army';
    font-size: 4em;
    font-weight: bold;
    font-stretch: expanded;
}

h2 {
    color: #3a6b96;
    font-size: 2.5em;
    font-family: 'Lato';
}

h3 {
    color: #f0a103;
    font-size: 1.5em;
    font-family: 'Lato';
}

h4 {
    color: #d88960;
    font-size: 1.30;
}

p {
    color: #000000;
    font-family: 'Lato';
    font-size: 1em;
}

li {
    font-family: 'Lato';
}

#listTag {
    font-weight: bold;
    font-family: 'Lato';
}

.indentOne {
    text-indent: 1em;
}

.indentTwo {
    text-indent: 2em;
}

.codeExample li {
    list-style: none;

}

.codeExample {
    background-color: #f0f0f0;
    border-style: solid;
    border-width: .15em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.ul-none {
    list-style: none;
}


.button {
    font-size: 1.25em;
    background-color: #3a6b96;
    color: #f0f0f0;
    padding: .5em;
    text-align: center;
    width: 5.5em;
}

.arrayContainer {
    display: flex;
    flex-direction: "row";
}

.flex-container {
    margin-bottom: 2em;
    display: flex;
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    border: 1px solid #808080;
    padding: 1em;
    width: 100%;
}

.flex-item canvas {
    flex-grow: 2;
}


/*-----CANVAS------*/

/* color scheme:
#000000 -- black
#3a6b96 -- blue
#808080 -- Grey
#fbbc3c -- yellow
#d88960 -- rust
#ffffff -- white
##fdf4e0 -- Cream
#64704C -- green */

.row1-canvas {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;

}

.row2-canvas {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

.canvas-container {
    display: flex;
    justify-content: center;
}

#canvas1 {
    width: 90%;
    height: 600px;
    margin-top: 2em;
    border: solid .5em #64704C;
    background-color: #fdf4e0;
}