<!DOCTYPE html>
<!--
editor: DChapman
-->

<head>
    <title>Bootcamp for CIT261</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js" defer></script>
    <!-- <link rel="stylesheet" href="css/style_small.css" />
    <link rel="stylesheet" href="css/style_med.css" /> -->
    <link rel="stylesheet" href="css/style_large.css" />
</head>

<nav>
    <hr />
    <ul class="navigation">
        <li><a href="index.html">Home</a></li>
        <li><a href="htmlFile.html">HTML</a></li>
        <li><a href="css.html">CSS</a></li>
        <li><a href="javascript.html">JavaScript</a></li>
        <li><a href="objects.html">JavaScript Objects</a></li>
        <li><a href="dom.html">DOM</a></li>
        <li><a href="json.html">JSON</a></li>
        <li><a href="ajax.html">AJAX</a></li>
    </ul>
</nav>
<header class="heading">
    <h1>Coding Bootcamp</h1>
</header>

<body>


</body>
<footer>

</footer>

</html>